@charset "UTF-8";

/* 
Fundo da página: #2F252E — ameixa muito escuro
Área do login: #F0E8E0 — creme quente
Área da imagem: sua foto original
Campo de usuário: #F8F2EB — creme quase branco
Campo de senha: #B9D3CF — verde-acinzentado suave
Botão Entrar: #A66D76 — vinho rosado
Botão ao passar o mouse: #8A5962
Texto principal: #332B31
Texto secundário: #6F6267
Ícones: #FFFFFF ou #F0E8E0
Borda: #3D3140
Detalhes: #BF9677 — nude/dourado queimado
*/

body{
    background-color: #2F252E;
}
p{
    background-color: #6F6267;
}
h1{
    background-color: #332B31 ;
}